* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
}

.container {
    width: 100%;
    height: 100vh;
}

.formContainer {
    margin: 40px;
    width: 10%
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.matrixContainer {
    display: flex;
    justify-content: space-around;
}

.containerRow {
    padding: 7px 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 14px;
}

.containerElements {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    outline: 2px solid black;
}

.element {
    width: 60px;
    height: 60px;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerResult {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    outline: 2px solid black;
}

.addition {
    display: flex;
    align-items: center;
}

.addition button {
    width: 45px;
    height: 22px;
}